@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 100px;
    width: 100%;
    text-align: center;
}

nav img {
    float: left;
    background-color: white;
}

nav button {
    float: right;
    background-color: #FF7A00;
    background-image: url("img/cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: 20px;
    text-align: right;
    padding: 0px 20px;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    z-index: 1000;
}

nav ul {
    margin: 0;
    margin-top: 15px;
    display: inline-block;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #FF7A00;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #FFE9D6;
    /* background-image: url("img/heroImage.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: right;
    background-position-x: 115%; */
    padding: 20px 15%;
    position: relative;
    /* z-index: -1; */
}

header>h1 {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 35%;
    font-size: 4rem;
    color: #FF7A00;
    /* z-index: 1; */
}

header>img {
    display: block;
    position: absolute;
    top: 15%;
    right: 10%;
    /* height: 70%; */
    max-width: 50vw;
    max-height: 70vh;
    /* z-index: 0; */
}

header>a {
    position: absolute;
    bottom: 5%;
    width: 30%;
    max-width: 400px;
    left: 35%;
    right: 35%;
    margin: 0;
    padding: 20px 50px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #FF7A00;
    /* margin: 110px 30% 0; */
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
}

.about {
    padding: 100px 15%;
    background-color: black;
    font-size: 1.5rem;
}

.about p {
    color: white;
    text-align: center;
}

#Gadgets {
    overflow: auto;
}

.gadgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#Gadgets h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.container {
    text-align: center;
    padding: 20px;
    flex-shrink: 80%;
    position: relative;
}

.image a, .image p {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    display: none;
    cursor: unset;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

/* .image a {
    display: block;
} */

.image p {
    top: 35%;
    font-size: 2rem;
    font-weight: 600;
}

.image:hover a, .image:hover p {
    display: block;
}

.image:hover img, .image:hover img{
    filter: brightness(50%);
}

.container button {
    background-color: #FF7A00;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.container .button {
    background-color: #FFCD9E;
}

.container .button:hover {
    background-color: #fca85a;
}

.container .button:active {
    background-color: #fab97d;
}

button:hover, header>a:hover {
    background-color: #c46004;
}

button:active, header>a:active {
    background-color: #e68c37;
}

.backdrop {
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}

.modal {
    position: fixed;
    width: 54%;
    left: 23%;
    top: 5%;
    background-color: #FCFCFC;
    /* text-align: center; */
    padding: 20px 30px 80px;
    /* height: 400px; */
    transform: scale(0);
    transition: .5s;
    max-height: 95vh;
    /* overflow: auto; */
    opacity: 0;
    z-index: 1000;
}

.modal div {
    max-height: 80vh;
    margin: 0;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.modal.active {
    transform: scale(1);
    transition: 1s;
    opacity: 1;
}

.modal table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
}

.modal table td {
    padding: 10px 15px;
}

.modal table button {
    position: unset;
    padding: 2px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FF9A3D;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.modal table button:hover {
    background-color: #c46004;
}

.modal table button:active {
    background-color: #e68c37;
}

.modal input {
    display: block;
    margin: 20px 10%;
    width: 80%;
    font-size: .9rem;
    line-height: 2rem;
    background-color: #FFCD9E;
    border: 2px solid #666;
    /* border: 5px ridge #999; */
}

.modal .input {
    border-color: red;
}

.modal button {
    padding: 15px 30px;
    position: fixed;
    right: 10px;
    border: none;
    background-color: #FF7A00;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    bottom: 10px;
    outline: none;
    cursor: pointer;
}

.modal p {
    display: none;
    margin: -20px 0 -10px;
    padding: 0;
    color: red;
}

.modal .continue {
    right: 150px;
    background-color: #FFCD9E;
    color: black;
}

#ModalPayment img {
    width: 30%;
    margin: 0 auto;
}

#ModalPayment h1, #ModalPayment h2 {
    margin: 0;
}

#ModalPayment h1>span {
    color: #FF7A00;
}

#ModalPayment button {
    padding: 15px 80px;
}

#Footer {
    padding: 40px 15%;
    background-color: black;
}
#Footer::after {
    content: "";
    clear: both;
    display: table;
}

#Footer img {
    float: left;
}

#Footer p {
    float: right;
    color: white;
}

@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 3.5rem;
    }

    header>img {
        top: unset;
        bottom: 15%;
        height: unset;
        width: 50%;
        max-width: unset;
    }

    .about {
        padding: 40px 15%;
        font-size: 1rem;
    }

    .modal {
        width: 64%;
        left: 18%;
    }

    .modal table {
        width: 100%;
    }

    .modal table td {
        padding: 5px 5px;
    }
    
    .modal table button {
        padding: 1px 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 850px) {
    nav img {
        display: none;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 15px;
    }

    header>img {
        width: 40%;
    }

    header>a {
        width: 50%;
        left: 25%;
        right: 25%;
    }

    .modal {
        width: 80%;
        left: 10%;
        top: 5%;
        padding: 10px 15px 60px;
        max-height: 95vh;
    }

    .modal button {
        padding: 10px 15px;
        right: 10px;
        font-size: 1rem;
        bottom: 10px;
    }

    .modal .continue {
        right: 120px;
    }
}

@media screen and (max-width: 700px) {   

    header h1 {
        font-size: 2.5rem;
        width: 90%;
        line-height: 10vh;
        top: 10vh;
        left: 5%;

        /* font-size: 3rem;
        width: 70%;
        top: 10%; */
        text-align: center
    }

    header>img {
        bottom: 20vh;
        height: 50vh;
        width: 80%;
        right: 10%;

        /* top: unset;
        bottom: 15%;
        width: 70%;
        right: 15%; */
    }
    #Footer img {
        display: block;
    }

    #Footer p {
        float: left;
        clear: left;
    }

    .modal {
        width: 90%;
        left: 5%;
        top: 5%;
        padding: 10px 15px 60px;
        max-height: 95vh;
        font-size: .75rem;
    }

    .modal table button {
        font-size: .75rem;
        padding: 2px 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .modal input {
        margin: 20px 5%;
        width: 90%;
        font-size: .75rem;
        line-height: 2rem;
        border: 1px solid #666;
    }

    .modal button {
        padding: 10px 15px;
        right: 10px;
        font-size: 1rem;
        bottom: 10px;
    }

    .modal .continue {
        right: 120px;
    }

    #ModalPayment button {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 450px) {
    nav {
        padding-left: 0;
    }
    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 10px;
    }

    nav ul li a {
        font-size: .75rem;
    }

    nav button {
        background-position-x: 10px;
        padding: 0px 10px;
        border-radius: 20px;
        height: 40px;
        width: 80px;
        font-size: 1.5rem;
    }

    header {
        height: 100vh;
        width: 100%;
        padding: 20px 10%;
        /* z-index: -1; */
    }

    header h1 {
        font-size: 2.5rem;
        width: 90%;
        line-height: 10vh;
        top: 10vh;
        left: 5%;
    }

    header>img {
        bottom: 20vh;
        height: 30vh;
        width: 90%;
        right: 5%;
    }

    header>a {
        width: 60%;
        left: 20%;
        font-size: 1rem;
        padding: 15px 25px;
    }
    .container img {
        width: 80%;
    }
    .container button {
        padding: 10px 10px;
        font-size: .75rem;
    }

    .modal {
        width: 90%;
        left: 5%;
        top: 5%;
        padding: 10px 5px 40px;
        max-height: 95vh;
        font-size: .65rem;
    }

    .modal table td {
        padding: 2px 2px;
    }

    .modal table button {
        font-size: .65rem;
        padding: 2px 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .modal input {
        margin: 10px 5%;
        width: 90%;
        font-size: .65rem;
        line-height: 1.25rem;
        border: 1px solid #666;
    }

    .modal button {
        padding: 5px 10px;
        right: 5px;
        font-size: .75rem;
        bottom: 5px;
    }

    .modal p {
        margin: -10px auto -5px;
        width: 80%;
    }

    .modal .continue {
        right: 80px;
    }

    #ModalPayment button {
        padding: 5px 30px;
    }
}